#menu-header {
    height: 0% !important;
    margin-bottom: 0px !important;
    border-bottom: 0px !important;
    display: none;
}

#menu-button {
    position: absolute;
    width: 40px;
    height: 40px;
    left:0;
    /*right: 1%;*/
    top: 70px !important;
    background-image: url(../images/aeria_menu_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 999;
}
#menu-content {
    position: absolute;
    margin-width: 0px;
    left: -300px;
    z-index: 999;
}

#side-menu {
    height: 100%;
}
